.container {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campaign {
  width: 100%;
  height: 50vh;
  background-image: url("https://media.istockphoto.com/vectors/shopaholics-on-black-friday-flat-color-vector-illustration-vector-id1281622046?k=20&m=1281622046&s=612x612&w=0&h=T70T3sJW6fsGS_EAI9yWUNV4H_Zb7ugrXrED0aqjmaw=");
}

@media (min-width: 1280px) {  

  .main {
    width: 100%;
    margin:auto;
  }

  .campaign {
    height: 50vh;
    background-repeat: repeat;
    background-size: contain;
  }
}
